.execute-page__layout {
    display: grid;
    grid-template-columns: 65fr 35fr;
    column-gap: 20px;
}

.execute-page__right-panel {
    display: grid;
    row-gap: 20px;
}

.queue-container__reload-bt {
    margin-left: auto;
    height: 30px;
    width: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' x='0' y='0' viewBox='0 0 48 48' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m48 24a24 24 0 1 0 -24 24 24 24 0 0 0 24-24zm-38.221 0a14.218 14.218 0 0 1 27.211-5.784l.8-1.542a2 2 0 1 1 3.547 1.849l-3.337 6.402a2 2 0 0 1 -2.7.848l-6.391-3.334a2 2 0 1 1 1.85-3.546l2.781 1.45a10.217 10.217 0 1 0 -2.308 10.888 2 2 0 1 1 2.828 2.829 14.226 14.226 0 0 1 -24.281-10.06z' fill='%23206f63' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    cursor: pointer;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.queue-container__reload-bt--loading {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.queue-script {
    margin: 10px 0;
    padding: 3px 15px;
    display: grid;
    grid-template-columns: 0.2fr 0.3fr 0.3fr 0.4fr;
    width: 500px;
    height: 40px;
    background: #ededed;
    border-radius: 5px;
    align-items: center;
    user-select: none;
}

.queue-script--disabled {
    opacity: 0.7;
}

.queue-script__actions {
    margin-left: auto;
}

.queue-script__reward {
    border-radius: 20px;
    background-color: #166165;
    padding: 5px;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
}
