.execute-page__layout {
    display: grid;
    grid-template-columns: 65fr 35fr;
    column-gap: 20px;
}

.execute-page__right-panel {
    display: grid;
    row-gap: 20px;
}

.card__reload {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0px 14px;
    border-radius: 9px;
    background-color: #292929;
    cursor: pointer;
}

.queue-container__reload-bt {
    height: 30px;
    width: 30px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iR3JvdXBfMzUiIGRhdGEtbmFtZT0iR3JvdXAgMzUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI5Ljc1IiBoZWlnaHQ9IjI5Ljc1IiB2aWV3Qm94PSIwIDAgMjkuNzUgMjkuNzUiPgogIDxwYXRoIGlkPSJQYXRoXzE2OCIgZGF0YS1uYW1lPSJQYXRoIDE2OCIgZD0iTTAsMEgyOS43NVYyOS43NUgwWiIgZmlsbD0ibm9uZSIvPgogIDxwYXRoIGlkPSJQYXRoXzE2OSIgZGF0YS1uYW1lPSJQYXRoIDE2OSIgZD0iTTIzLjgzMywxMi42NzRBMTAuMDQxLDEwLjA0MSwwLDAsMCw0LjYyLDEwLjE5NE00LDUuMjM2djQuOTU4SDguOTU4IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjk1OCAwLjk2MikiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwZTU4ZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz4KICA8cGF0aCBpZD0iUGF0aF8xNzAiIGRhdGEtbmFtZT0iUGF0aCAxNzAiIGQ9Ik00LDEzYTEwLjA0MSwxMC4wNDEsMCwwLDAsMTkuMjE0LDIuNDc5bS42Miw0Ljk1OFYxNS40NzlIMTguODc1IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjk1OCAzLjExNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwZTU4ZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==);
    margin-left: 10px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.queue-container__reload-bt--loading {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.queue-script {
    margin: 10px 0;
    padding: 3px 15px;
    display: grid;
    grid-template-columns: 0.2fr 0.3fr 0.3fr 0.4fr;
    width: 500px;
    height: 40px;
    background: #ededed;
    border-radius: 5px;
    align-items: center;
    user-select: none;
}

.queue-script--disabled {
    opacity: 0.7;
}

.queue-script__actions {
    text-align: right;
    margin-left: auto;
}

.queue-script__reward {
    border-radius: 20px;
    background-color: #166165;
    padding: 5px;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
}