JWT_SECRET=hello_world
ADMIN_KEY=chocolate
MONGO_DB_CONN_STRING=mongodb://127.0.0.1:27017/daemons

KOVAN_RPC=wss://kovan.infura.io/ws/v3/
FANTOM_TESTNET_RPC=https://rpc.testnet.fantom.network/

<!-- Note: whenever a new variable is added, update the GitHub action as well -->
