
.notifications-dialog {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 500px;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: var(--secondary-background);
    border: 1px solid var(--greyish-brown);
    text-align: left;
    z-index: 99;
    user-select: none;
}

.notifications-dialog__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notifications-dialog__title {
    font-size: 1.2rem;
    font-weight: bold;
}

.notifications-dialog__ack-button {
    background-color: var(--greyish-brown);
    width: fit-content;
    text-align: right;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 3px;
}

.notifications-dialog__clear {
    text-align: right;
    cursor: pointer;
}

.notification__separator {
    border-bottom: 1px solid var(--greyish-brown);
    margin: 10px -25px;
}

.notification__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 7px;
}

.notification__chain-icon {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.notification__title {
}

.notification__divider {
    color: var(--lighter-grey);
    font-size: 0.85rem;
}

.notification__date {
    color: var(--lighter-grey);
    font-size: 0.85rem;
}

.notification__description {
    margin-top: 15px;
    overflow-wrap: break-word;
    font-size: 0.85rem;
}
