:root {
    --body-background: #191919;
    --secondary-background: #292929;
    --primary-colour: #136f63;
    --white: #ffffff;
    --greyish-brown: #454545;
    --lighter-grey: #b9b9b9;
    /* Toasts */
    --toastify-color-success: #1B9D51;
    --toastify-color-warning: #FFBA08;
    --toastify-color-error: #dd0143;
    --toastify-color-info: #3F88C5;
}
